@import "../../styles/variables.scss";

.button {
  background-color: $blush;
  color: $neonBlue;
  padding: 10px 20px;
  border: solid 1px $blush;
  transition: background-color .5s;
  box-shadow: 1px 1px 10px $blush;

  &:disabled {
    pointer-events: none;
    background-color: $dark;
    color: $blush;
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($neonBlue, 10%);
    color: $blush;
  }

}