@import "../../styles/variables.scss";

.player-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid $neonBlue;
  box-shadow: 1px 1px 25px $neonBlue;
  border-radius: 30px;
  background-color: $blueMetal;
  color: $neonBlue;
  height: 5em;
  width: 15em;
  margin-left: 2em;
  margin-right: 2em;
}