@import "../../Styles/variables.scss";

.user {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  border: 2px solid $timberWolf;
  width: 90%;
  color: $timberWolf;
  background-color: $gunMetal;
  padding: 5px;
  box-shadow: 1px 1px 10px $gunMetal;
}