@import "../../styles/variables.scss";

.game-view-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

#game-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  h2{
    padding-top: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bolder;
  }
}

.game-board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 40em;
  height: 40em;
  padding: 10px 10px 10px 10px;
  border: 1px solid $gunMetal;
  box-shadow: 1px 1px 50px $gunMetal;
  margin-top: 5%;
  .game-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 150px;
  }
}