@import "../../styles/variables.scss";

.navigation {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  box-shadow: 1px 1px 10px $gunMetal;
  background-color: $gunMetal;
  height: 100px;
  .userName {
    color: $timberWolf;
    font-weight: bolder;
    width: 100%;
  }
}